---
discourse_instances:
  - { name: app, http_port: 8080, ssh_port: 2222, DISCOURSE_DB_USERNAME: discourse, DISCOURSE_DB_PASSWORD: SOME_SECRET, DISCOURSE_DB_NAME: csadiscoursedb, DISCOURSE_DB_HOST: 'some.dbhost.com', DISCOURSE_REDIS_HOST: REDIS_IP_ADDRESS, DISCOURSE_DEVELOPER_EMAILS: 'me@example.com', DISCOURSE_HOSTNAME: 'discourse.example.com', DISCOURSE_SMTP_ADDRESS: smtp.example.com, DISCOURSE_SMTP_PORT: 587, DISCOURSE_SMTP_USER_NAME: user@example.com, DISCOURSE_SMTP_PASSWORD: pa$$word, extra_vars = [], extra_plugins = [] }
  - { name: app2, http_port: 8080, ssh_port: 2222, DISCOURSE_DB_USERNAME: discourse, DISCOURSE_DB_PASSWORD: SOME_SECRET, DISCOURSE_DB_NAME: csadiscoursedb, DISCOURSE_DB_HOST: 'some.dbhost.com', DISCOURSE_REDIS_HOST: REDIS_IP_ADDRESS, DISCOURSE_DEVELOPER_EMAILS: 'me@example.com', DISCOURSE_HOSTNAME: 'discourse.example.com', DISCOURSE_SMTP_ADDRESS: smtp.example.com, DISCOURSE_SMTP_PORT: 587, DISCOURSE_SMTP_USER_NAME: user@example.com, DISCOURSE_SMTP_PASSWORD: pa$$word, extra_vars = [], extra_plugins = [] }
